In [1]:
#python tuple methods
#count()

numbers = (5, 3, 4, 2, 4, 3, 2, 1, 2, 4)
x = numbers.count(2)
print(x)

3

In [2]:
# index()

shoppinglist = ('maggi', 'tomato', 'pepper', 'beans', 'iron', 'tomato', 'indomie')
x = shoppinglist.index('tomato')
print(x)

1

In [5]:
#tuple()

Y2 = (35, 29, 15, 56, 78, 89)
len(Y2)


#Max()

T2 = ['kajol', 'asake', 'georg', 'eliel']
max(T2)


# min()

T2 = (35, 46, 78, 89, 56, 34, 12, 19, 29)
min(T2)

12